/* 
Custom CSS
B.Boyle Design

## Add custom CSS here ##
*/

/* Resets */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.left-space { margin-left: 10px; }

/* Tables */
#publictable { 
    overflow-y: scroll; 
    height: 600px; 
    display: block; 
    width: 85% !important;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
}
.tblicon { 
    text-align: center; 
    vertical-align: middle !important; 
    width: 150px; 
    padding: 25px; 
    height: 100% !important; 
}
.tbllink { height: 100px !important; }
.tblanchor {
    display: table;
    height: 100%;
}
.tblspan {
    display: table-cell;
    vertical-align: middle;
}
/* Overights */
h1 { border-bottom: 1px solid #458DDA; padding-bottom: 7px; margin-bottom: 20px !important; }
body { background-image: url("../img/BGmain.png"); background-color: #F3F3F3 !important; background-size: contain; background-repeat: no-repeat; background-position-x: center; }
body#adminPage {
    margin-bottom: 0;
}
.bg-faded { background-image: url("../img/headerBG.png"); background-repeat: repeat-x; background-position: bottom; }

/* Nav and Drop Down Menu */
.bluebar {
    margin-top: 90.19px;
    background-image: url("../img/bluebar1px.png");  
    background-repeat: repeat-x; 
    width: 100%;
    height: 46px;
}
.navbar { padding: 1rem 1rem !important; }
.navbar-light .navbar-nav .nav-link { 
    color: #fff !important; 
    text-align: center; 
    line-height: 15px; 
    height: 50px; 
    cursor: pointer;
}
.dropdown-menu {
    position: relative !important;
    width: 235px !important;
    top: 16px !important;
    left: -50% !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

ul.nav li.nav-item#first {
    background-image: url("../img/navicons/trainingoverviewpurp.png"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position-x: center; 
    width: 122px; 
    height: 50px;
}
ul.nav li.nav-item#first:hover {
    background-image: url("../img/navicons/trainingoverviewgray.png");
}
ul.nav li.nav-item#second {
    background-image: url("../img/navicons/viewbytopicpurp.png"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position-x: center; 
    width: 122px; 
    height: 50px;
}
ul.nav li.nav-item#second:hover {
    background-image: url("../img/navicons/viewbytopicgray.png");
}
ul.nav li.nav-item#second:active {
    background-image: url("../img/navicons/viewbytopicgray.png");
}
ul.nav li.nav-item#third {
    background-image: url("../img/navicons/viewbyassettypepurp.png"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position-x: center; 
    width: 122px; 
    height: 50px;
}
ul.nav li.nav-item#third:hover {
    background-image: url("../img/navicons/viewbyassettypegray.png");
}
ul.nav li.nav-item#fourth {
    background-image: url("../img/navicons/viewbytrainingphasepurp.png"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position-x: center; 
    width: 122px; 
    height: 50px;
}
ul.nav li.nav-item#fourth:hover {
    background-image: url("../img/navicons/viewbytrainingphasegray.png");
}
ul.nav li.nav-item#fifth {
    background-image: url("../img/navicons/keyresourcespurp.png"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position-x: center; 
    width: 122px; 
    height: 50px;
}
ul.nav li.nav-item#fifth:hover {
    background-image: url("../img/navicons/keyresourcesgray.png");
}

.active1 {
    background-image: url("../img/navicons/trainingoverviewgray.png") !important;
}
.active2 {
    background-image: url("../img/navicons/viewbytopicgray.png");
}
.active3 {
    background-image: url("../img/navicons/viewbyassettypegray.png");
}
.active4 {
    background-image: url("../img/navicons/viewbytrainingphasegray.png");
}
.active5 {
    background-image: url("../img/navicons/keyresourcesgray.png");
}

ul.u01 {
    height: 100%;
    -webkit-box-shadow: 10px 10px 10px -6px rgba(168,168,168,0.75);
    -moz-box-shadow: 10px 10px 10px -6px rgba(168,168,168,0.75);
    box-shadow: 10px 10px 10px -6px rgba(168,168,168,0.75);
}
ul.u01 li {
    height: 50px;
    background: rgba(231,231,231,1);
    background: -moz-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,231,231,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff', GradientType=0 );
}
ul.u01 li:hover {
    background: rgba(254,193,122,1);
    background: -moz-linear-gradient(top, rgba(254,193,122,1) 0%, rgba(250,229,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,193,122,1)), color-stop(100%, rgba(250,229,204,1)));
    background: -webkit-linear-gradient(top, rgba(254,193,122,1) 0%, rgba(250,229,204,1) 100%);
    background: -o-linear-gradient(top, rgba(254,193,122,1) 0%, rgba(250,229,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,193,122,1) 0%, rgba(250,229,204,1) 100%);
    background: linear-gradient(to bottom, rgba(254,193,122,1) 0%, rgba(250,229,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec17a', endColorstr='#fae5cc', GradientType=0 );
}
ul.u01 li a {
    color: #6A6A6A !important;
    display: block;
    line-height: 30px;
    padding: 10px 20px;
}
ul.u01 li a:hover {
    text-decoration: none;
}
/* Footer */
.footer {
    background-image: url("../img/footer.png"); 
    background-repeat: repeat-x;
    padding-top: 10px;
}
.footer-bottom { background: #E1E1E1; padding-top: 10px; padding-bottom: 10px; }
.footer-bottom p.pull-left { padding-top: 6px; }

.row-buffer {
    padding-top: 8px;
}
@media only screen and (max-width: 991px) {
    .text-muted-cus {
        width: 80%;
        line-height: 1.5;
    }
    .bluebar {
        margin-top: 118.19px;
    }
}
@media only screen and (max-width: 767px) {
    .bluebar {
        margin-top: 159.19px;
    }
}
@media only screen and (max-width: 575px) {
    .container {
        width: 704px;
        max-width: 100%;
    }
    .bluebar {
        margin-top: 72.19px;
    }
}
@media (max-width:1199px) and (min-width:992px) {
    .bluebar {
        margin-top: 82.19px;
    }
}​



/* Triggers the nav for Public and Admin view */
.showme { display: block; }
.hideme { display: none !important; }

/* Admin Nav CSS */
ul.nav li.nav-item a.admin-asset-nav-link { background-image: url("../img/navicons/btn_assetMgmntPurp.png"); background-size: contain; background-repeat: no-repeat; background-position-x: center; display: block; height: 52px; width: 125px; }
ul.nav li.nav-item a.admin-asset-nav-link:hover { background-image: url("../img/navicons/btn_assetMgmntGray.png");}
ul.nav li.nav-item a.admin-asset-nav-link-active { background-image: url("../img/navicons/btn_assetMgmntGray.png"); background-size: contain; background-repeat: no-repeat; background-position-x: center; display: block; height: 52px; width: 125px; }

ul.nav li.nav-item a.admin-resource-nav-link { background-image: url("../img/navicons/btn_keyRsrceMgmntPurp.png"); background-size: contain; background-repeat: no-repeat; background-position-x: center; display: block; height: 52px; width: 125px; }
ul.nav li.nav-item a.admin-resource-nav-link:hover { background-image: url("../img/navicons/btn_keyRsrceMgmntGray.png"); }
ul.nav li.nav-item a.admin-resource-nav-link-active { background-image: url("../img/navicons/btn_keyRsrceMgmntGray.png"); background-size: contain; background-repeat: no-repeat; background-position-x: center; display: block; height: 52px; width: 125px;  }

.edit {
    background-image: url("../img/btn_modifyAsset.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    width: 25px;
    height: 25px;
}
.delete {
    background-image: url("../img/btn_deleteAssets.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    width: 25px;
    height: 25px;
}